server:
  port: 8080
  servlet:
    context-path: /api/v1
spring:
  profiles:
    active: dev
  application:
    name: main-training-service
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    health:
      show-details: always
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

feign:
  circuit-breaker:
    enabled: true

resilience4j:
  circuit-breaker:
    instances:
      workloads-service:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 5s
        failureRateThreshold: 50

jwt:
  secret: ${JWT_KEY}
